
<div class="all_vip">
  
    <div class="bloc_vip">
        <div class="title_vip">{{this.userToShow.login}}'s Profile</div>
        <div class="title_vip2">(Nickname: {{this.userToShow.nickname}})</div>
        <div class="user_photo"  style="background-image:url({{this.userToShow.avatar}})" ></div>
        <div class="user_name" >{{this.userToShow.nickname}}</div>
        <div class="user_name" >Level : {{this.userToShow.level}}</div>
        <div class="env_metaille">
        <div *ngIf="this.succes<1" class="metaille" style="background-image: url(../../assets/metaille0.png)"></div>
            <div *ngIf="this.succes>=1" class="metaille" style="background-image: url(../../assets/metaille1.png)"></div>
            <div *ngIf="this.succes>=2" class="metaille"  style="background-image: url(../../assets/metaille2.png)"></div>
            <div *ngIf="this.succes<2" class="metaille"  style="background-image: url(../../assets/metaille0.png)"></div>
            <div *ngIf="this.succes>=3" class="metaille" style="background-image: url(../../assets/metaille3.png)"></div>
            <div *ngIf="this.succes<3" class="metaille" style="background-image: url(../../assets/metaille0.png)"></div>
        </div>

        <div  *ngIf="this.login != this.userToShow.login">
        <app-button-v4 [text]="'Back to your profile'" (click)="backtoMyself()"></app-button-v4></div>

        <!--Affichage user profile-->
        <div *ngIf="this.userToShow.login==this.login">

        <div class="titre_modify"><app-button-v2 [text]="'Modify profile'" (click)="showhide()"></app-button-v2></div>
        
        <!--Affichage Partie Modification Profile si meme User -->

        <div class="bloc_modify" *ngIf="visible">
            <app-button-v2 [text]="'Modify avatar'" (click)="showhide_avatar()"></app-button-v2>

            <app-button-v2 [text]="'Modify nickname'" (click)="showhide_nickname()"></app-button-v2>
    
            <app-button-v2 *ngIf="tfa_auth" [text]="'Modify 2FA: Enabled'" (click)="tfa_disable()"></app-button-v2>
            <app-button-v2 *ngIf="!tfa_auth" [text]="'Modify 2FA: Disabled'" (click)="tfa_signup()"></app-button-v2>
        </div><!-- fin de div bloc_modify  -->
        
        <!--Qrcode-->
		<div class="env_qr" *ngIf="tfa_validation && visible">
			<div class="qr_code"  style="background-image:url({{qrCode}})"></div>
			<div class="tfa_count">{{tfa_count}} TRIES LEFT</div>
            <div class="center_tfa">
			<input class="tfa_input" placeholder="Two-Factor Authentication Key" (keydown.enter)="tfa_verify()" [(ngModel)]="tfa_key"></div>
		</div>

        <!--UpLoad avatar-->
        <div class="champ_avatar" *ngIf="visible_avatar">
           
            <div class="container">
              
                <input
                  type="file"
                  id="img"
                  accept="image/*"
                  (change)="onSelect($event)"
                />
                <app-button-v2 [text]="'Upload'" (click)="onUpload()"></app-button-v2>
            </div>
		</div>
    </div>
    
        <!--Change nickname-->
        <div class="champ_nickname" *ngIf="visible_nickname">
            New nickname:&nbsp; <input type="text" id="new_nickname" value="Your new nickname" (keydown.enter)="changeNickname()" [(ngModel)]="newNickName">
        </div>
        
        <!--Search profile-->
        <div class="search">

         
            <input type="text" (keydown.enter)="searchProfile()" placeholder="Search Profile" [(ngModel)]="searchName">
            <!-- <a routerLink="/vip2-room">
            <app-button-v2 [text]="'Search Profile'" (click)="searchProfile()"></app-button-v2>
            </a> -->
        
            </div><!--fin div search-->


        <!--History Match-->
        <div class="title_historique">Match History</div>
        <div class="bloc_vip_historique">
            <div *ngFor="let game of games ; let i=index">
                <app-match-history [match]="game"></app-match-history>
            </div>
        </div>


    </div><!-- fin de div bloc_vip  -->
    
</div><!-- fin de div all_vip  -->
