<div class="all_rest">
    <div class="big_title">Our Team</div>
    <div class="bloc_item_rest">
        
        <div class="arnaud">
            <div class="env_arnaud">
                <div class="title_rest"><b>Arnaud</b> [adylewsk]</div>
                <div class="content_rest">★ Backend : • Authentification <br>
                    <!-- ★ frontend: • bobobob <br><br> -->
                    <a href="https://profile.intra.42.fr/users/adylewsk" target="blank"><button type="restroomBlack">Intra 42</button></a>
                    <a href="https://github.com/Haysk" target="blank"><button type="restroomBlack">Github</button></a>
                </div>
            </div><!-- fin de env_arnaud -->
        </div><!-- fin de arnaud -->

        <div class="alex">
            <div class="env_alex">
                <div class="title_rest"><b>Alexandre</b> [ade-temm]</div>
                <div class="content_rest">★ Backend : • Chat <br>
                    <!-- ★ frontend: • bobobob <br><br> -->
                    <a href="https://profile.intra.42.fr/users/ade-temm" target="blank"><button type="restroomBlack">Intra 42</button></a>
                    <a href="https://github.com/alex-thp/" target="blank"> <button type="restroomBlack">Github</button></a>
                </div>
                </div><!-- fin de env_alex -->
        </div><!-- fin de alex -->
        

        <div class="antoine_c">
            <div class="env_antoine_c">
                <div class="title_rest"><b>Antoine</b> [anclarma]</div>
                <div class="content_rest_black">★ Backend : • Jeu  <br>
                    <!-- ★ frontend: • bobobob <br><br> -->
                    <a href="https://profile.intra.42.fr/users/anclarma" target="blank"><button type="restroomBlack">Intra 42</button></a>
                    <a href="https://github.com/alisterd51/" target="blank"><button type="restroomBlack">Github</button></a>
                </div>
                </div><!-- fin de env_antoine_c -->
        </div><!-- fin de antoine_c -->


        <div class="antoine_t"> 
            <div class="env_antoine_t">
            <div class="title_rest"><b>Antoine</b> [antton-t]</div>
            <div class="content_rest">★ Backend : • Chat <br>
                <!-- ★ frontend: • bobobob <br><br> -->
                <a href="https://profile.intra.42.fr/users/antton-t" target="blank"><button type="restroomBlack">Intra 42</button></a>
                <a href="https://github.com/antton-t" target="blank"> <button type="restroomBlack">Github</button></a>
            </div>
            </div><!-- fin de env_antoine_t -->
    </div><!-- fin de antoine_t -->
       
        <div class="ching">
            <div class="env_ching">
            <div class="title_rest"><b>Ching-Lin</b> [chilee]</div>
            <div class="content_rest_black">
                <!-- ★ Backend :  <br> -->
                ★ frontend <br><br>
                <a href="https://profile.intra.42.fr/users/chilee" target="blank"><button type="restroomBlack">Intra 42</button></a>
                <a href="https://github.com/ddalee75" target="blank"><button type="restroomBlack">Github</button></a>
            </div>
            </div><!-- fin de env_ching -->
    </div><!-- fin de ching -->




    </div><!-- fin de bloc_item_rest -->
    <div class="big_title">42 Paris</div>

</div><!-- fin de all_rest -->
