
<div class="all_show">
    <div class="bloc_show">
        <div class="title_show"></div>

        <div class="onair_show">
        <img src="../../assets/imgs/onair_pong.png" width="160px">  
        
        </div><!-- fin de div onair_show  -->
        <div class="reload" (click)="reload()"></div>  
        
       
       
        
        <div class="vs_show" *ngFor="let match of matches">
        <app-bloc-user-profile [match]="match"></app-bloc-user-profile>
        </div> 
     
<div *ngIf="redirectPong==true">
          <app-pong [customs]="gameConfig" [gameName]="this.roomName"></app-pong>
    </div><!-- fin de div bloc_show  -->
</div><!-- fin de div all_show  -->
