.all_show{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 17, 13);
    background-image: url("../../assets/imgs/show_2540x1240px.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;

    
}
.bloc_show{
    width: 500px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(77, 156, 93, 0.274); */
    align-items: center;
}

.title_show{
    width: 500px;
    height: 200px;
    background-image: url("../../assets/imgs/show_title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

}

.onair_show{

    width: 100%;
    background-color: rgb(11, 22, 13);
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    

}

.reload{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}

.reload:hover{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(118, 221, 0);
}



.vs_show{
    width: 100%;
    height: 225px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.171);
    margin-top: 30px;
    overflow-y: auto;
    

}
#link{
    color: rgb(141, 199, 146);
    text-decoration: none;

}



@media only screen and (max-width: 768px) {

  
    


    .all_show{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 17, 13);
    background-image: url("../../assets/imgs/show_2540x1240px.jpg");
    background-size: c;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;

    
}
.bloc_show{
    width: 450px;
   
    /* background-color: rgba(77, 156, 93, 0.274); */
}

.title_show{
    width: 450px;
    height: 200px;
    background-image: url("../../assets/imgs/show_title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

}

.onair_show{

    width: 100%;
    background-color: rgb(11, 22, 13);
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    

}

.reload{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}

.reload:hover{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(118, 221, 0);
}



.vs_show{
    width: 100%;
    height: 600px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.171);
    margin-top: 30px;
    overflow-y: auto;
    

}
#link{
    color: rgb(141, 199, 146);
    text-decoration: none;

}

}


@media only screen and (max-width: 476px) {

  
    


    .all_show{
    width: 100%;
    height: 100vh;
    background-color: rgb(12, 17, 13);
    background-image: url("../../assets/imgs/show_2540x1240px.jpg");
    background-size: c;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;

    
}
.bloc_show{
    width: 90%;
   
    /* background-color: rgba(77, 156, 93, 0.274); */
}

.title_show{
    width: 100%;
    height: 200px;
    background-image: url("../../assets/imgs/show_title.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 

}

.onair_show{

    width: 100%;
    background-color: rgb(11, 22, 13);
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
    

}

.reload{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}

.reload:hover{
    
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../../assets/imgs/reload.png");
    width: 50px;
    height: 50px;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(118, 221, 0);
}



.vs_show{
    width: 100%;
    height: 600px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.171);
    margin-top: 30px;
    overflow-y: auto;
    margin-bottom: 100px;
    

}
#link{
    color: rgb(141, 199, 146);
    text-decoration: none;

}

}
