<div class="all_home">

    <div class="bloc_home_title"><img src="../../assets/imgs/home_titre.png" width="230px"></div>
    <div class="bloc_item_home">
        <a class="bloc_game_home" routerLink="/game-room"></a><!-- fin de bloc_game_home-->
        <a class="bloc_show_home" routerLink="/show-room"></a><!-- fin de bloc_show_home-->
        <a class="bloc_vip_home" routerLink="/vip-room"></a><!-- fin de bloc_vip_home-->
        <a class="bloc_rest_home" routerLink="/rest-room"></a><!-- fin de bloc_rest_home-->
    </div><!-- fin de div bloc_item  -->

</div><!-- fin de div all_vip  -->